/* Drawing Table */
table {
  border-collapse: collapse;
  border: none;
  margin: 5% auto;
}

td {
  margin: 5px;
  padding: 5rem;
}

tbody td:nth-child(1) {
  border-right: 0.3rem solid #222831;
}

tbody td:nth-child(2) {
  border-right: 0.3rem solid #222831;
}

tbody tr:nth-child(1) {
  border-bottom: 0.3rem solid #222831;
}

tbody tr:nth-child(2) {
  border-bottom: 0.3rem solid #222831;
}

/* Element Tags */
body {
  font-family: "Nanum Pen Script";
  font-size: 1.5rem;
  text-align: center;
  background-image: url("../images/doodle-bg.jpg");
  background-size: cover;
}

p {
  color: #fff;
}

/* Containers */
.container-fluid {
  padding: 0;
  margin: 2%;
  width: 96%;
}

/* Grid Specifications */
.row {
  margin: 0;
}

.cols {
  padding: 0;
}

/* Header Section */
.header-margin {
  background-color: #e8e8e8;
}

.header {
  background-color: #bbcccc;
  color: #ee2e2e;
  font-family: "Rock Salt", cursive;
  font-size: 1rem;
  height: 100%;
  padding: 2.5% 2%;
}

/* Board Section */
.board-wrap {
  background-color: #e8e8e8;
}

/* Controls Section */
.control-wrap {
  background-color: #222831;
}

.controls {
  height: 90%;
}

.player-controls {
  margin: auto;
  width: 40%;
  position: relative;
  top: 30%;
}

.control-tag {
  margin: 0;
  text-align: left;
}

.btn-group {
  width: 100%;
}

.btn-success {
  width: 40%;
  position: relative;
  top: 40%;
}

.copyright {
  color: #fff;
  font-family: "Montserrat";
  font-size: 0.75rem;
  position: relative;
  top: 4%;
}

/* Media Queries */
@media (max-width: 767px) {
  .controls {
    height: 130px;
  }
}

/* Cross and Circle */
.X,
.O {
  background-size: 80%;
  background-position: center;
  background-repeat: no-repeat;
}

.X {
  background-image: url("../images/X.png");
}

.O {
  background-image: url("../images/O.png");
}

.winner {
  background: rgb(187, 204, 204, 0.7);
  width: 50%;
  height: 20%;
  position: absolute;
  top: 40%;
  left: 25%;
  display: none;
}

.winner-msg {
  color: #e70808;
  font-size: 3.5rem;
  padding: 5%;
  margin: 0;
}

.visible {
  display: block;
}
